<%- include('./include/headers', { title: 'Homepages' }) -%>

<body>
    <%- include('./include/navbar') -%>    
    
    <script type="text/javascript">
        $('#app').append('tester')
    </script>
</body>

<%- include('./include/footers') -%>